  <meta http-equiv="Content-Type" content="text/html; utf-8">
  <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="/ticket-office/resources/fonts/icomoon/style.css">
  <link rel="stylesheet" href="/ticket-office/resources/css/bootstrap.min.css">
  <link rel="stylesheet" href="/ticket-office/resources/css/style.css">

    <script type="text/javascript">
      function loadMobileMenu() {
        document.body.classList.add("offcanvas-menu");
      }
  </script>
  <script type="text/javascript">
      function closeMobileMenu() {
        document.body.classList.remove("offcanvas-menu");
      }
  </script>
