<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>Archetype Created Web Application</display-name>

    <welcome-file-list>
        <welcome-file>/jsp/index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>DispatcherServlet</servlet-name>
        <servlet-class>ticketoffice.web.DispatcherServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DispatcherServlet</servlet-name>
        <url-pattern>/page/*</url-pattern>
    </servlet-mapping>

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.html</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>

    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>ticketoffice.filter.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding_type</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>LocalizationFilter</filter-name>
        <filter-class>ticketoffice.filter.LocalizationFilter</filter-class>
        <init-param>
            <param-name>bundle</param-name>
            <param-value>messages</param-value>
        </init-param>
        <init-param>
            <param-name>locale</param-name>
            <param-value>ru</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>LocalizationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>SecurityFilter</filter-name>
        <filter-class>ticketoffice.filter.SecurityFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>SecurityFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>AdminFunctionalFilter</filter-name>
        <filter-class>ticketoffice.filter.AdminFunctionalFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AdminFunctionalFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>UpdatePassengerFilter</filter-name>
        <filter-class>ticketoffice.filter.UpdatePassengerFilter</filter-class>

    </filter>

    <filter-mapping>
        <filter-name>UpdatePassengerFilter</filter-name>
        <url-pattern>/page/admin/updatePassenger</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>PagesDisplayFilter</filter-name>
        <filter-class>ticketoffice.filter.PagesDisplayFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>PagesDisplayFilter</filter-name>
        <url-pattern>/page/user/home</url-pattern>
        <url-pattern>/page/admin/users</url-pattern>
        <url-pattern>/page/user/trainDetail</url-pattern>
    </filter-mapping>

    <error-page>
        <error-code>400</error-code>
        <location>/jsp/error/400.jsp</location>
    </error-page>

    <error-page>
        <error-code>401</error-code>
        <location>/jsp/error/401.jsp</location>
    </error-page>

    <error-page>
        <error-code>404</error-code>
        <location>/jsp/error/404.jsp</location>
    </error-page>

</web-app>
